*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/codeStyles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/kotlinc.xml
/.idea/render.experimental.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Project exclude paths
/app/build/
/app/schemas/
